<% include partials/_header %>

<% include partials/_navs %>

<div class="container">

    <div class="row">

        <div class="col-md-4 offset-md-4">
            <div class="card">
                <div class="card-body">
                    <form action="/modificar/<%= task._id; %>" method="POST">

                        <div class="form-group">
                            <input class="form-control" name="title" type="text" value="<%= task.title; %>" placeholder="Introduzca el título" />
                        </div>

                        <div class="form-group">
                            <textarea class="form-control" name="description" id="descripcionTarea" type="text" placeholder="Introduzca la descripción"><%= task.description; %></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary btn-block" title="Modificar tarea">Modificar Tarea</button>

                    </form>
                </div>

            </div>
        </div>

    </div>

</div>

<% include partials/_footer %>